submit.csv
titanic/.ipynb_checkpoints/titanic_v1-checkpoint.ipynb
titanic/.ipynb_checkpoints/titanic_v10-checkpoint.ipynb
titanic/.ipynb_checkpoints/titanic_v11-checkpoint.ipynb
titanic/.ipynb_checkpoints/titanic_v1_backup-checkpoint.ipynb
titanic/.ipynb_checkpoints/titanic_v2-checkpoint.ipynb
titanic/.ipynb_checkpoints/titanic_v3-checkpoint.ipynb
titanic/.ipynb_checkpoints/titanic_v4-checkpoint.ipynb
titanic/.ipynb_checkpoints/titanic_v5-checkpoint.ipynb
submit_check.csv
titanic_v10.ipynb
titanic_v11.ipynb
titanic_v3.ipynb
titanic_v4.ipynb
titanic_v5.ipynb
.ipynb_checkpoints/titanic_v1_backup-checkpoint.ipynb
titanic_v1_backup.ipynb
